<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "/img/favicon.ico"}}">

    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <script type="text/javascript" src="{{asset "js/modernizr.min.js"}}"></script>
    <script type="text/javascript" src="//use.typekit.net/ncx0kog.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    {{ghost_head}}
    
    <script type="text/javascript">
	    function imgLoaded(el){
		    el.className+=' show';
	    }
    </script>
    
    
</head>
<body class="{{body_class}}">
  <div class="wrapper">

    {{! Everything else gets inserted here }}
    {{{body}}}
  </div>

  <footer class="footer">     
       <p>(347) 654 3640</p>
       <p>hello@maxrolon.com</p>
       <p>Living in <b>New York City</b></p>
       <p class="black up"><i class="icon-angle-up"></i></p>
       <p class="black up">Back to top</p>
       
       <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
  </footer>

  {{ghost_foot}}

  {{! The main JavaScript file for Casper }}
  <script type="text/javascript" src="{{asset "js/vendor.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>