{{!< default}}

<header class="header">
 <a href="{{@blog.url}}">
	  <h1 class="icon-maxrolon"><i>Max Rolon</i></h1>
		<p>{{@blog.description}}</p>
	</a>
</header>

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<div class="mobile-only">
	{{content imageOnly="1"}}
</div>

<main class="content" role="main">
  <article class="{{post_class}}">
    <header class="post-header">
        <h1 class="post-title">{{title}}</h1>
        <section class="post-meta">
            <time class="post-date" datetime="{{date format='YYYY-MM'}}">{{date format="MMMM YYYY"}}</time>. {{tags prefix=""}}.
        </section>
    </header>
    <section class="post-content">
        <p class="excerpt">{{excerpt}}</p>
        <a href="#/" class="count">This story has <span class="difference-value">0</span> more words.</a>
        {{content}}
    </section>
  </article>
</main>

{{/post}}
